.searchInput {
	border: 1px solid #ffffff;
	border-radius: 8px;
	padding: 0px 10px;
}

.formControl {
	background-color: unset;
	border: 0px;
}

/* input:focus { */
.inputFocus:focus {
	background-color: #ffffff00;
	box-shadow: unset
}

/* 
History
Food
Pats
Health
Fashion
Exercise
Others 
*/