.navbarBGColor {
	background-color: #243831;
}

.navbarBGColor button {
	background-color: #ffffff00;
	border: 0px;
}

.navbarWidth {
	/* width: 320px; */
}

.navSignIn {

}



@media (min-width: 770px) {
	.desktop {
		display: none;
	}
}